
select {
  /* width : 100px ; */
  padding: 10px;

}

input {
  padding: 10px;
  width: 200px;
  
}


.App-header {
  min-height: 70%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: black;
  background-color: white;
}

.App-header-codeforces {
  font-size: 30px;
  color:blue ;
  font-weight: 500;
}

.App-header-contests {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 150;
}

.app-page-dropdown-search {
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between ;
    /* justify-content: center; */
    align-items: center;
    margin: 10px;
}

.app-page-dropdown {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.app-page {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  /* flex-direction: row; */
}

.app-page-details {
  /* text-align: left; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  width: 20rem;
  padding-left: 10px;
}
.app-page-details:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.app-page-pagination {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: right;
}

button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-navigate {
  background-color: #1ba94c;;
}

.btn-favourite {
  background-color: seagreen;
}

.btn-mark-fav {
  background-color: #1ba94c;
}

.btn-remove-fav {
  background-color: red;
}

.btn-show-fav {
  background-color: #1ba94c;
}
